{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Shop Analyzer</h1>
<hr>
<p>We have synced {{ shops_qs.count }} shops. <span class="text-muted text-xs">Data was synced in the background</span>.</p>

<h2>Select a shop:</h2>
<div class="row" id="app">
    <div class="col-sm-3">
      <form class="mb-4">
        <label class="mb-2">
          <span class="text-muted">Select the number of rows to show:</span>
          <input type="number" v-model="limit" min='3' max='10' class="form-control">
        </label>

        <div class="text-muted">Select the shop:</div>
        <ul class="list-unstyled">
          <li v-for="shop in shops">
            <label>
              <input type="radio" name="item_id" v-model="item_id" :value="shop.id" required="required" /> <span v-text="shop.name"></span>
            </label>
          </li>
        </ul>
      </form>
    </div>
    <div class="col-sm-9">
      <div v-html="message"></div>
      <div class="background" v-if="selected_shop">
        <p>
          <a :href="selected_shop.url" v-text="selected_shop.name" target="_blank"></a> · <span class="text-muted" v-html="selected_shop.title"></span>
        </p>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Num.</th>
                <th>Item</th>
                <th><span v-text="order_by"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in selected_shop.data.top_data">
                <td><span v-text="index + 1"></span></td>
                <td>
                  <div v-text="item.name"></div>
                  <div v-text="item.title"></div>
                  <a :href="item.url" target="_blank" class="text-muted">View item</a>
                </td>
                <td><span v-text="item[order_by]"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block css %}
<style type="text/css">
  .background{
    background-color: #efefef;
    border-radius: 5px;
    min-height: 100px;
    min-width: 100%;
    padding: 12px;
  }
  label{cursor: pointer;padding: 3px;width: 100%;display: inline-block;}
  label:hover{background-color: #efefef;}
</style>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"></script>
<script type="text/javascript">
  function init_vue(){
    const message = "Loading, please wait...";
    var app = new Vue({
      el: '#app',
      data: {
        shops: [{% for shop_obj in shops_qs %}
          {id: {{ shop_obj.id }}, name: "{{ shop_obj.name }}", title: "{{ shop_obj.title }}", url: "{{ shop_obj.url }}", data: []},
        {% endfor %}],
        selected_shop: null,
        message: '',
        limit: 5,
        order_by: 'num_favorers',
        order_type: 'desc',
        orders: [{% for oby in orders %}'{{ oby }}',{% endfor %}],
        item_id: null,
      },
      methods: {
        get_data: function(e){
          e.preventDefault();
          let shop = this.shops.find(shop => shop.id == this.item_id);

          if (!shop){
            this.message = "Please select a shop";
            return
          }

          this.selected_shop = shop;

          this.message = message;

          var url = "{% url 'shop_analyzer:get_data' 0 %}";
          url = url.replace("/0/", "/" + shop.id + "/");
          axios
            .get(url, {params: {'limit': this.limit, order_by: this.order_by, order_type: this.order_type}})
            .then(response => {
              if (response.status != 200){
                console.log("Error");
              }else{
                this.selected_shop.data = response.data;
                this.message = `<strong>${this.selected_shop.name}</strong> has ${this.selected_shop.data.total_items} items. This is the Top ${this.limit}:`;
              }
            })
        },
      },
      watch: {
        item_id: function(a, b){
          this.get_data(new Event("click"));
        },
        order_by: function(a, b){
          this.get_data(new Event("click"));
        },
        order_type: function(a, b){
          this.get_data(new Event("click"));
        },
        limit: function(a, b){
          this.get_data(new Event("click"));
        }
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    init_vue();
  });
</script>
{% endblock %}
